
<h1>Fii Ranks</h1>

<table>
  <thead>
    <tr>
      <th>Cód</th>
      <th>Dy</th>
      <th>V/VPA</th>
    </tr>
  </thead>

  <tbody>
    <% @fiis.each do |fii| %>
      <tr>
        <td> <%= fii.cod %> </td>
        <td> <%= fii.dy %> </td>
        <td> <%= fii.v_vpa %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

