

<h1>Empréstimos</h1>
<table
  id="table"
  data-toggle="table"
  data-url="loans.json">
  <thead>
    <tr>
      <th data-field="id">ID</th>
      <th data-field="description">Item Name</th>
      <th data-field="value">Item Price</th>
    </tr>
  </thead>
</table>

<%= link_to 'New Loan', new_loan_path %>
