.table {
  font-size: 0.9rem;
  min-width: 900px;
  td {
    vertical-align: middle;
    padding: 0.3rem;
  }
  .btn {
    font-size: 0.9rem;
  }
  tr {
    th {
      vertical-align: middle;
    }
  }
}
